#container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

#drag-container,
#drop-container {
  height: 500px;
}

#drag-container {
  width: 250px;
  border: 1px solid black;
  margin-bottom: 30px;
}

#drop-container {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.field {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#element-1 {
  background-color: aqua;
  width: 250px;
  height: 50px;
}

#element-2 {
  background-color: blueviolet;
  width: 200px;
  height: 50px;
}

#element-3 {
  background-color: coral;
  width: 150px;
  height: 50px;
}

.highlight {
  background-color: rgba(0, 128, 0, 0.253);
}

.placed {
  background-color: green;
}
